__pycache__/
*.pyc
dev/
*.ipynb
.vscode/*

glucose/

res2/
res/SMT/smt2/*.smt2
res/SAT/dimacs/*.cnf
res/SAT/wcnf/*.wcnf

source/SAT/Dockerfile
Dockerfile
source/SAT/dimacs/
source/SAT/wcnf/
source/SMT/smt2/
source/SMT_LIA/
*.cnf
*.wcnf
*.smt2

__pycache__/
*.pyc

.venv/
